<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log Out</title>
</head>
<body>

<div class="panel-body">
    <div class="login-icon"> <i class="fa fa-sign-out"></i> </div>
    <h1 class="font-semibold text-center" style="font-size:52px">You Have Been Logged Out</h1>
    <form class="form-horizontal" action="#" role="form">
        <div class="form-group">
            <div class="col-md-12">
                <h4 class="text-center mgbt-xs-20">Thank you for using our website</h4>
                <p class="text-center"> Please <a href="/auth/authenticate">click here</a> to login back to our site</p>

            </div>
        </div>
        <div id="vd_login-error" class="alert alert-danger hidden"><i class="fa fa-exclamation-circle fa-fw"></i> Please fill the necessary field </div>
    </form>
</div>
</body>
</html>